'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Search VSO Work Items'
      'submenu': [
        {
          'label': 'Open search'
          'command': 'vsowork:search'
        }
      ]
    ]
  }
]
